.note-edit-container {
    justify-content: space-around;
    cursor: pointer;
    width: 120px;
    padding-inline-start: 0;
    position: relative;
    top: 8px;
}

.note-edit-container i {
    cursor: pointer;
    color: #777777;
}

.note-edit-container li {
    margin: 0;
}

.note-edit-container i:hover {
    color: inherit;
}

.colors-container {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    padding-right: 40px;
}

.color {
    cursor: pointer;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid rgb(59, 59, 59);
    margin-bottom: 3px;
}