
 .main-header{
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
 }

 .main-header a{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }



 .logo-icon{
    width: 50px;
 }


 .menu-icon-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
    position: relative;
    margin-right: 30px;
    cursor: pointer;
    padding: 10px;
}

 .menu-icon-container:hover{
    background-color: rgba(82, 82, 82, 0.516);
}

 .menu-icon{
     width: 40px;
 }

 .main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    top: 73px;
    right: 74px;
    background-color: whitesmoke;
    z-index: 2;
    padding: 15px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    border-radius: 3px;
}

.nav-link {
    display: block;
    height: 110px;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #2c3941;
    border-radius: 100%;
    transition: background-color 0.2s;
    font-size: 14px;
}

.home-icon {
    font-size: 50px;
    color: #ffa500;
    margin-bottom: 3px;
}

.note-icon-container {

    height: 50px;
    width: 50px;
    background-color: #ffa500;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.main-nav .note-icon {
    font-size: 28px;
    color: #edf0f1;
}

.nav-link img {
  height: 50px;
  width: 50px;
  margin-bottom: 3px;
}

.nav-link:hover {
    background-color: rgba(60, 64, 67, 0.08);
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

@media (max-width: 750px) {
    .main-nav {
        right: 0;
        top: 74px;
    }
}

@media (max-width: 400px) {
    .nav-link {
     height: 80px;
     width: 80px;
    }
}