.user-msg {
    position: fixed;
    top: 50px;
    right: 0;
    padding: 10px;
    background-color: white;
    border: 2px black solid;
    z-index: 11111000;
    border-radius: 7px;
}

.success {
    border-color: rgb(27, 180, 27);
    color: rgb(27, 180, 27);
}

.error {
    border-color: red;
    color: red;
}