.email-app {
    display: flex;
    width: 1020px;
    margin: auto;
}

.email-app>:first-child {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.email-app>:last-child {
    flex: 8;
    list-style: none;
}

.email-app>:last-child ul {
    list-style: none;
}