/*--------------- BASIC ---------------*/

body, html {
    overflow-x: hidden;
    color: #363636;
    font-size: 1rem;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.appsus {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

a, button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: 0.5rem;
    outline: none;
}

input, select {
    padding: 0.5rem;
    outline: none;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

h3 {
    margin-top: 0;
}